{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>JOBGUIDE</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image\x-icon" href="{% static 'jobseeker\img\favicon.png' %">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'jobseeker\css\bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'jobseeker\css\owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'jobseeker\css\magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'jobseeker\css\font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'jobseeker\css\themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'jobseeker\css\nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'jobseeker\css\flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'jobseeker\css\gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'jobseeker\css\animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'jobseeker\css\slicknav.css' %}">

    <link rel="stylesheet" href="{% static 'jobseeker\css\style.css' %}">
    <link rel="stylesheet" href="{% static 'jobseeker\css\styles.css' %}">
    <link rel="stylesheet" href="{% static 'jobseeker\css\responsive.css' %}">
    

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'jobseeker\css\tagsinput.css' %}" />
    
</head>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                     <a href="index.html">
                                        <img src="img/logo.png" alt="">
                                    </a>
                                    <h2 class="text-light text-bolder">JOBGUIDE</h3>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation" >
                                            <li><a href="{% url 'candidatepage' %}">home</a></li>
                                            <li><a href="{% url 'joblisting' %}">Browse Job</a>
                                               {% comment %} <li> <a href="{% url 'intern' %}" style="text-decoration: none;">Internships</a></li> {% endcomment %}
                                            
                                                
                                                    <li><a href="{% url 'appliedjobs' %}">Jobs Applied </a></li>
                                                
                                                
                                            </li>
                                            {% comment %} <li>
                                                <a href="{% url 'profileeverify' %}">Add Documents</a>
                                            </li> {% endcomment %}
                                            <li><a href="{% url 'editprofile' %}">Profile</a></li>
                                            <li><a href="{% url 'premiumservices' %}">Resume Builder</a></li>
                                                    {% comment %} <li><a href="{% url 'notifications' %}">Notifications</a></li> {% endcomment %}
                                                    {% comment %} <li><a href="{% url 'userpaymentdetails' %}">Payement Information</a></li> {% endcomment %}
                                                
                                            </li>
                                           
                                    </nav>
                                </div>
                            </div>
                    
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="phone_num d-none d-xl-block">
                                        {% comment %} <div class="btn" style="background-color: #003399;"> {% endcomment %}
                                        <a  class="boxed-btn3"href="{% url 'logout_view' %}">Logout</a>
                                    </div>
                                    <!-- <div class="d-none d-lg-block">
                                        <a class="boxed-btn3" href="#">Post a Job</a>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    {% block content %}
        
    {% endblock %}
    
    <footer class="footer"style="background-color:#6699cc;">
        <div class="footer_top">
            <div class="container" style="background-color:#6699cc;">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                            <p>
                                admin@gmail.com <br>
                                admin.com <br>
                            </p>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.1s" data-wow-delay=".4s">
                            <h3 class="footer_title">
                                Company
                            </h3>
                            <ul>
                                <li><a href="#">About </a></li>
                                <li><a href="#"> Pricing</a></li>
                                <li><a href="#">Carrier Tips</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.2s" data-wow-delay=".5s">
                            <h3 class="footer_title">
                                Category
                            </h3>
                            <ul>
                                <li><a href="#">Design & Art</a></li>
                                <li><a href="#">Engineering</a></li>
                                <li><a href="#">Sales & Marketing</a></li>
                                <li><a href="#">Finance</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget wow fadeInUp" data-wow-duration="1.3s" data-wow-delay=".6s">
                            <h3 class="footer_title">
                                Subscribe
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Subscribe</button>
                            </form>
                            {% comment %} <p class="newsletter_text">Esteem spirit temper too say adieus who direct esteem esteems {% endcomment %}
                                {% comment %} luckily.</p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text wow fadeInUp" data-wow-duration="1.4s" data-wow-delay=".3s">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
{% comment %} Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> {% endcomment %}
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="{% static 'jobseeker\js\vendor\modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\vendor\jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\popper.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\bootstrap.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\owl.carousel.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\ajax-form.js' %}"></script>
    <script src="{% static 'jobseeker\js\waypoints.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\jquery.counterup.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\scrollIt.js' %}"></script>
    <script src="{% static 'jobseeker\js\jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\wow.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\nice-select.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\plugins.js' %}"></script>
    <script src="{% static 'jobseeker\js\gijgo.min.js' %}"></script>



    <!--contact js-->
    <script src="{% static 'jobseeker\js\contact.js' %}"></script>
    <script src="{% static 'jobseeker\js\jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\jquery.form.js' %}"></script>
    <script src="{% static 'jobseeker\js\jquery.validate.min.js' %}"></script>
    <script src="{% static 'jobseeker\js\mail-script.js' %}"></script>


    <script src="{% static 'jobseeker\js\main.js' %}"></script>




    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'jobseeker\js\tagsinput.js' %}"></script>

</body>

</html>